.tab {
  width: 45px;
  height: 45px;
}

.menu {
  background-color: rgb(110, 170, 30);
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0;
  text-align: center;
}

.main {
  font-family: Arial, sans-serif;
}

.menu_button {
  background-color: rgba(130, 210, 240, 0);
  border: none;
  margin-right: 15px;
  margin-top: 15px;
}

.menu_button_lastElement {
  background-color: rgba(130, 210, 240, 0);
  border: none;
  margin-top: 15px;
}

.header {
  text-align: center;
}

.checkbox {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 20px;
  height: 20px;
  position: relative;
  top: 15px;
  left: 5px;
}

.task_text {
  font-size: 1rem;
  position: relative;
  top: 11px;
  left: 10px;
}

.task_container {
  border: none;
  background-color: rgba(130, 210, 240, 0.5);
  border-radius: 15px;
  font-size: 1rem;
  width: 90%;
  height: 60px;
  margin-bottom: 20px;
  position: relative;
  left: 15px;
}

.language-container {
  position: fixed;
  left: 78%;
  top: 4%;
  width: 73px;
  border: solid black 1px;
  border-radius: 5px;
  height: 29px;
}

.image {
  width: 62%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 12vh;
}

.impuls {
  width: 100%;
  height: 1%;
  position: fixed;
  top: 0;
  left: 0;
}

p {
  position: relative;
  top: 16vh;
  font-size: 2rem;
}

.icon {
  width: 5px;
  height: 5px;
}