body {
  font-family: "Bliss Pro";
}

.header {
  text-align: center;
}

.language-container {
  position: fixed;
  right: 6vw;
  top: 3vh;
  width: 73px;
  border: solid black 1px;
  border-radius: 5px;
  height: 29px;
}

.image {
  width: 62%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
}

.impuls {
  width: 100%;
  height: 1%;
  position: fixed;
  top: 0;
  left: 0;
}

.topic {
  position: relative;
  top: 16vh;
  font-size: 2rem;
  text-align: center;
  line-height: 0.5rem;
}

.icon {
  width: 5px;
  height: 5px;
}

.loginField {
  background-color: rgba(130, 210, 240,0.25);
  width: 82%;
  height: 260px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  top: 16vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.abstand {
  margin-top: 0;
  margin-bottom: 0;
}

.hinweisText {
  text-align: center;
  color: rgb(171, 171, 171);
  position: fixed;
  top: 85vh;
  left: 20vw;
  font-size: 0.8rem;
}

.greenLine {
  background-color: rgb(110, 170, 30);
  width: 100%;
  height: 1vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

.button {
  background-color: rgba(0, 110, 185);
  color: rgb(255, 255, 255);
  border: none;
  width: 82%;
  height: 5.9vh;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 19vh;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

.label {
  display: block;
  text-align: left;
  margin-left: 28vw;
  font-size: 1.1rem;
}

.input {
  margin-top: 0.3vh;
  margin-left: 27vw;
  width: 64vw;
  height: 5.2vh;
  border: none;
  border-radius: 5px;
  padding-left: 13px;
  font-size: 1rem;
}

.input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.password {
  margin-top: 3vh;
}

.full {
  width: 80%;
}

.eye {
  width: 6vw;
  height: 3vh;
}

.eyeContainer {
  position: relative;
  right: 28vw;
  top: 13vh;
  width: 30px;
  margin: 0;
}

.ErrorContainer {
  position: relative;
  top: 19vh;
  font-size: 1.3rem;
  text-align: center;
  color: #ff0000;
}

.bigBlueButton {
  background-color: rgba(0, 110, 185);
  color: rgb(255, 255, 255);
  border: none;
  width: 38.5vw;
  height: 35vw;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 15vh;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 2vh;
}

.topic_dash {
  position: relative;
  top: 12vh;
  font-size: 2rem;
  text-align: center;
  line-height: 0.5rem;
}

.btnText {
  display: block;
  position: relative;
  top: 2vh;
  font-size: 1rem;
}

.icon {
  width: 60px;
  height: 60px;
}

.pwForgotten {
  position: relative;
  top: 12.5vh;
  right: 38vw;
}

.pw {
  width: 50vw;
  color: rgb(126, 126, 126);
}

.topics {
  position: relative;
  top: 3vh;
  font-size: 2.2rem;
  text-align: center;
  line-height: 0.5rem;
}

.checkbox {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 20px;
  height: 20px;
  position: relative;
  top: 20px;
  left: 25px;
}

input[type="checkbox"]:disabled{
  background-color: rgb(110, 170, 30);
}

.task_text {
  font-size: 1.1rem;
  position: relative;
  top: 15px;
  left: 40px;
}

.task_container {
  border: none;
  background-color: rgba(130, 210, 240, 0.25);
  border-radius: 15px;
  width: 83%;
  height: 65px;
  margin-bottom: 25px;
  position: relative;
  top: 12vh;
  margin-left: auto;
  margin-right: auto;
}

.tabIcon {
  width: 78px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabIcon > img {
  width: 41px;
  height: 41px;
}

.tabFile {
  width: 78px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabFile > img {
  width: 32px;
  height: 41px;
}

.tabCalendar {
  width: 78px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabCalendar > img {
  width: 36px;
  height: 41px;
}

.tabLetter {
  width: 78px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabLetter > img {
  width: 41px;
  height: 28px;
}

.tabContacts {
  width: 78px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabContacts > img {
  width: 32px;
  height: 36px;
}

.menu {
  background-color: rgb(110, 170, 30);
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.rightLine {
  border-right: 1px solid rgba(258, 258, 258, 0.5);
}

.container {
  background-color: rgba(130, 210, 240, 0.25);
  width: 78%;
  border: none;
  border-radius: 20px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  top: 5vh;
  height: 72vh;
  right: 0;
}

.everyElement {
  position: relative;
  top: -1vh;
}

.Geschlecht {
  position: relative;
  top: 8vh;
  height: 5.7vh;
  width: 40%;
  left: -15vw;
}

.GeschlechtLabel {
  position: relative;
  top: 4vh;
  left: 5vw;
}

.Geburtsdatum {
  position: relative;
  top: 2.3vh;
  height: 5vh;
  width: 40%;
  left: 15vw;
}

.GeburtsdatumLabel {
  position: relative;
  top: -1.7vh;
  left: 41vw;
}

.Titel {
  position: relative;
  top: 8vh;
  height: 5vh;
  width: 30%;
  left: -3vw;
}

.TitelLabel {
  position: relative;
  top: 4vh;
  left: 5.5vw;
}

.Vorname {
  position: relative;
  top: 2.8vh;
  height: 5vh;
  width: 46%;
  left: 19vw;
}

.VornameLabel {
  position: relative;
  top: -1.2vh;
  left: 35.5vw;
}

.Nachname {
  position: relative;
  top: 6vh;
  height: 5vh;
  width: 84%;
  left: 5vw;
}

.NachnameLabel {
  position: relative;
  top: 6vh;
  left: 6.5vw;
}

.Straße {
  position: relative;
  top: 12vh;
  height: 5vh;
  width: 54%;
  left: -6vw;
}

.StraßeLabel {
  position: relative;
  top: 8vh;
  left: 6.5vw;
}

.Nr {
  position: relative;
  top: 6.6vh;
  height: 5vh;
  width: 20%;
  left: 49vw;
}

.NrLabel {
  position: relative;
  top: 2.7vh;
  left: 56vw;
}

.Stadt {
  position: relative;
  top: 12vh;
  height: 5vh;
  width: 45%;
  left: -4vw;
}

.StadtLabel {
  position: relative;
  top: 8vh;
  left: 6vw;
}

.PLZ {
  position: relative;
  top: 6.6vh;
  height: 5vh;
  width: 28%;
  left: 42vw;
}

.PLZLabel {
  position: relative;
  top: 2.6vh;
  left: 50vw;
}

.Telefonnummer {
  position: relative;
  top: 10.5vh;
  height: 5vh;
  width: 84%;
  left: 5.5vw;
}

.TelefonnummerLabel {
  position: relative;
  top: 10vh;
  left: 6.5vw;
}

.horizontalLine {
  width: 100%;
  height: 0.2vh;
  background-color: white;
  position: relative;
  top: 4vh;
}

.horizontalLine2 {
  width: 100%;
  height: 0.2vh;
  background-color: white;
  position: relative;
  top: 4vh;
}

.horizontalLine3 {
  width: 100%;
  height: 0.2vh;
  background-color: white;
  position: relative;
  top: 8vh;
}

.horizontalLine4 {
  width: 100%;
  height: 0.2vh;
  background-color: white;
  position: relative;
  top: 8vh;
}

.horizontalLine5 {
  width: 100%;
  height: 0.2vh;
  background-color: white;
  position: relative;
  top: 8vh;
}

input {
  border: none;
  border-radius: 5px;
  padding-left: 7px;
}

select {
  border: none;
  border-radius: 5px;
  padding-left: 7px;
}

.activeTab {
  background-color: rgb(0, 105, 30);
  height: 100%;
}

.rightArrow {
  position: relative;
  width: 8vw;
  height: 4vh;
  top: -32.5vh;
  left: 91vw;
}

.leftArrow {
  position: relative;
  width: 8vw;
  height: 4vh;
  top: -32.5vh;
  left: -7vw;
}

.widget_container {
  background-color: rgb(0, 110, 185);
  height: 21vh;
  width: 88%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), inset 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 5px;
}

.menu_header {
  width: 62%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 10vh;
}

/*.menu_button {*/
/*  background-color: rgba(130, 210, 240, 0);*/
/*  border: none;*/
/*  margin-right: 15px;*/
/*  margin-top: 15px;*/
/*}*/

/*.menu_button_lastElement {*/
/*  background-color: rgba(130, 210, 240, 0);*/
/*  border: none;*/
/*  margin-top: 15px;*/
/*}*/